<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus">
      <br>
      <!-- When being on filter mode the list will not get updated as per 
          Angular's behaviour, by default the pipes are pure. (meaning this behaviour)
          However you can change this behaviour by setting pure to false,  but this is not
          recommended as it has performance issues -->
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <hr>
      <!-- <h2>App Status: {{ appStatus }}</h2> -->
      <h2>App Status: {{ appStatus | async}}</h2> <!-- works in case of observables too -->
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus: 'status' | sort: 'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <!-- <strong>{{ server.name | shorten }}</strong> -->
          <strong>{{ server.name | shorten: 15 }}</strong>| 
          {{ server.instanceType | uppercase | reverse }} | 
          {{ server.started | date: 'fullDate' | uppercase}} <!-- Chaining multiple pipes, order is importamt-->
          <!-- {{ server.started | date: 'fullDate': 'secondParameter' }} -->
        </li>
      </ul>
    </div>
  </div>
</div>